<div class="container">
<div class="">
  <h6>Form Completion</h6>
<div class="progress form-ProgressBar-Wrapper">
<div class="progress-bar form-Progress-Bar" [style.width.%]="progress"></div>
</div>
</div>
<hr>
<form action="" [formGroup]="myform" (ngSubmit)="onSubmit()">
  <div class="row mb-3">
    <div class="col-md-6">
      <label for="documentType">DocumentType</label>
      <select class="form-select" name="" id="documentType" formControlName="documentType">
        <option value="plain">Plain</option>
        <option value="PDF">PDF</option>
      </select>
      <div *ngIf="myform.get('documentType')?.touched && myform.get('documentType')?.invalid" class="error">
        <span *ngIf="myform.get('documentType')?.errors?.['required']">Please select the document type</span>
      </div>
    </div>
    <div class="col-md-6">
      <label for="">Document Name</label>
      <input type="text" class="form-control" id="documentName" formControlName="documentName">
      <div *ngIf="myform.get('documentName')?.touched && myform.get('documentName')?.invalid" class="error">
        <span *ngIf="myform.get('documentName')?.errors?.['required']">Document Name is required.</span>
        <span *ngIf="myform.get('documentName')?.errors?.['minlength']">Minimum 2 characters required.</span>
        <span *ngIf="myform.get('documentName')?.errors?.['maxlength']">Do not exceed 32 characters</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="category">Category</label>
      <select class="form-select" name="" id="category" formControlName="category">
        <option value=" ">select Category</option>
        <option value="Audit">Audit</option>
        <option value="Application">Application</option>
        <option value="other">Other</option>
      </select>
      <div *ngIf="myform.get('category')?.touched && myform.get('category')?.invalid" class="error">
        <span>Please select the Category.</span>
      </div>
    </div>
    <div class="col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email">
      <div *ngIf="myform.get('email')?.touched && myform.get('email')?.invalid" class="error">
        <span *ngIf="myform.get('email')?.errors?.['required']">Email field is required</span>
        <span *ngIf="myform.get('email')?.errors?.['pattern']">Please enter the correct email</span>
      </div>
    </div>
  </div>
  <div class="mt-3">Progress: {{ progress }}%</div>

  <div class="text-center">
    <button class="btn btn-primary mt-4">Submit</button>
  </div>


</form>
  </div>
