
<div class="container">
    <mat-card class="form-card">
    <form action="">
        <h2>SignUp Form</h2>
        <mat-form-field class="email-field">
            <mat-label> Email</mat-label>
            <input 
              matInput
              placeholder="pat@example.com"
              FormControl="email"
              required/>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field class="email-field">
            <mat-label>Password</mat-label>
            <input 
              matInput
              placeholder="pat@example.com"
              FormControl="password"
              required/>
          </mat-form-field>
          <mat-form-field class="email-field">
            <mat-label>Confirm Password</mat-label>
            <input 
              matInput
              placeholder="pat@example.com"
              FormControl="confirmPassword"
              required/>
          </mat-form-field>
          <div class="button m-3 pb-4">
            <button mat-raised-button class="btn btn-lg">Signup</button>
          </div>
    </form>

</mat-card>
</div>